<configuration>
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <logger name="com.solara.transactionservice.service.BulkImportService" level="DEBUG"/>
    <root level="INFO">
        <appender-ref ref="JSON"/>
    </root>
</configuration>
